.unselectable {
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}

/*body {*/
/*    background-image: "/data/world-map.svg";*/
/*}*/


.container {
    position: relative;
}

#container canvas {
    position: absolute;
    cursor: none;
}

.hidden{
    display: none;
}

#go {
    position: absolute;
    top:310px;
    left:375px;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 1px solid red;
    background-color: #a00000;;
    color: #fff;
}

#board {
    position: absolute;
}
